<h1 class="section-title">{{ 'sections.1' | translate }}</h1>
<div class="projects-content">
    <mat-card>
        <mat-card-header class="project-name">CRUD Employees</mat-card-header>
        <a href="https://flor-talavera-empleados.netlify.app/list-empleados" target="_blank">
            <img class="project-image" src="../../../assets/images/empleados.png" mat-card-image>
        </a>
    </mat-card>
    <mat-card>
        <mat-card-header class="project-name">App Weather JS</mat-card-header>
        <a href="https://flor-talavera-weather.netlify.app" target="_blank">
            <img class="project-image" src="../../../assets/images/weather.png" mat-card-image>
        </a>
    </mat-card>
    <mat-card>
        <mat-card-header class="project-name">Budget App</mat-card-header>
        <a href="http://flor-talavera-app-presupuesto.s3-website-us-east-1.amazonaws.com/" target="_blank">
            <img class="project-image" src="../../../assets/images/presupuesto.png" mat-card-image>
        </a>
    </mat-card>
</div>