@use '../../design-system/reset';
@use '../../design-system/variables';

.section-title {
    text-align: center;
    font-size: map-get(variables.$font-sizes, "title");
    margin: 4rem;
}

.cards-content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    mat-card {
        width: 13%;
        align-items: center;
        margin: 1rem;
        cursor: pointer;

        .skill-image {
            width: 50%;
            margin-bottom: 1rem;
        }

        .skill-name {
            font-size: map-get(variables.$font-sizes, "subtext");
            margin-bottom: .5rem;
            color: black;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.others-skills {
    margin: 5rem 0;
    display: grid;
    grid-template-areas: '1 2';
    align-items: center;
    justify-items: center;

    p {
        margin-left: 5rem;
        line-height: 1.3;
        font-size: map-get(variables.$font-sizes, "subtext");
    }

    img {
        width: 60%;
    }

    .images {
        display: flex;
        justify-content: center;

        img {
            width: 12%;
        }

        img:last-child{
            width: 20%;
        }
    }
}