<h1 class="section-title">Aptitudes y Herramientas</h1>
<div class="cards-content">
    <mat-card>
        <mat-card-header class="skill-name">Javascript</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/js.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Angular</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/angular.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Html</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/html.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Css</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/css.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Sass</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/sass.jpg" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Python</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/python.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Typescript</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/typescript.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">PHP</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/PHP.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Git</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/git.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Docker</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/docker.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Postman</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/postman.jpg" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">JIRA</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/jira.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">SQL Server</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/sql-server.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Node JS</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/node.jpg" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">C#</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/csharp.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">.NET</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/net.png" mat-card-image>
    </mat-card>
    <mat-card>
        <mat-card-header class="skill-name">Mongo DB</mat-card-header>
        <img class="skill-image" src="../../../assets/images/skills/mongo.png" mat-card-image>
    </mat-card>
</div>
<div class="others-skills">
    <p class="spacing-lines">
        Actualmente estoy tomando clases particulares de inglés en <a href="http://ukidiomas.com.ar/" target="_blank">
            @ukingles</a> .
        Mi nivel actual es B1 <a href="https://www.efset.org/cert/XY75DQ" target="_blank">EF SET Certificate</a> .<br>
        Sé lo importante de éste idioma tanto en el ámbito laboral, como para fortalecer la autoconfianza,
        desarrollo y desempeño.<br>
        También sigo aprendiendo y perfeccionandome en tecnologías como:
        <img src="" alt=""><img src="" alt=""><img src="" alt="">
    </p>
    <img src="../../../assets/images/study.png" alt="mujer sentada en la computadora escribiendo">
</div>