<h1 class="section-title">{{ 'sections.2' | translate }}</h1>
<div class="services-content">
    <mat-card>
        <mat-card-header class="service-name">{{ 'services.title.0' | translate }}</mat-card-header>
        <div class="mat-card-content">
            <img class="service-image" src="../../../assets/images/services/web-design.png" alt="coding icon">
            <p>{{ 'services.description.websiteDesign' | translate }}</p>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-header class="service-name">{{ 'services.title.1' | translate }}</mat-card-header>
        <div class="mat-card-content">
            <img class="service-image" src="../../../assets/images/services/coding.png" alt="coding icon">
            <p>{{ 'services.description.websiteDevelopment' | translate }}</p>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-header class="service-name">{{ 'services.title.2' | translate }}</mat-card-header>
        <div class="mat-card-content">
            <img class="service-image" src="../../../assets/images/services/logo-design.png" alt="coding icon">
            <p>{{ 'services.description.logoDesign' | translate }}</p>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-header class="service-name">{{ 'services.title.3' | translate }}</mat-card-header>
        <div class="mat-card-content">
            <img class="service-image" src="../../../assets/images/services/responsive.png" alt="coding icon">
            <p>{{ 'services.description.responsiveWebsiteDesign' | translate }}</p>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-header class="service-name">{{ 'services.title.4' | translate }}</mat-card-header>
        <div class="mat-card-content">
            <img class="service-image" src="../../../assets/images/services/integrated-system.png" alt="coding icon">
            <p>{{ 'services.description.socialMediaIntegration' | translate }}</p>
        </div>
    </mat-card>
    <mat-card>
        <mat-card-header class="service-name">{{ 'services.title.5' | translate }}</mat-card-header>
        <div class="mat-card-content">
            <img class="service-image" src="../../../assets/images/services/tutoria.png" alt="coding icon">
            <p>{{ 'services.description.mentoring' | translate }}</p>
        </div>
    </mat-card>
</div>