<h1 class="section-title">Contactame</h1>
<form (ngSubmit)="onSubmit()">
<div class="form-fields">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" name="name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mail</mat-label>
        <input matInput [(ngModel)]="email" name="email" required email>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput [(ngModel)]="message" name="message" required></textarea>
    </mat-form-field>
</div>
<button mat-button type="submit" class="send-message">ENVIAR</button>
</form>