@use '../../design-system/reset';
@use '../../design-system/variables';

.section-title{
    text-align: center;
    font-size: map-get(variables.$font-sizes, "title");
    margin: 4rem;
}

.form-fields{
    display: flex;
    flex-direction: column;
    align-items: center;

    .mat-mdc-form-field{
        display: block;
        width: 50%;
    }
}

.mat-mdc-button:not(:disabled){
    margin: 1rem;
    color: #ffff;
    padding: 0 2rem;
    background-color: map-get(variables.$colors, "medium");
}

/* Responsive Styles */
@media screen and (max-width: 616px){
    .form-fields .mat-mdc-form-field {
        width: 70%;
    }
}

@media screen and (max-width: 448px){
    .form-fields .mat-mdc-form-field {
        width: 90%;
    }
}

@media screen and (max-width: 396px){
    .section-title{
        margin: 4rem 0;
    }
}