<header class="hero">
    <div class="header-container">
        <nav class="navigation-menu">
            <li>
                <a href="#">About Me</a>
            </li>
            <li>
                <a href="#">Skills</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="#">Contact Me</a>
            </li>
        </nav>
        <div class="hero-container">
            <div class="hero-texts">
                <h1 class="hero-title">
                    Hola!
                </h1>
                <h1 class="hero-title">
                    Soy Florencia Talavera
                </h1>
                <h1 class="hero-title">[Front-End Developer]</h1>
                <h2 class="hero-subtitle">
                    Transformando ideas a realidades
                </h2>
            </div>
        </div>
    </div>
</header>