<header class="hero">
    <div class="header-container">
        <nav class="navigation-menu">
            <li>
                <a href="#about-me">Sobre mi</a>
            </li>
            <li>
                <a href="#skills">Aptitudes</a>
            </li>
            <li>
                <a href="#projects">Proyectos</a>
            </li>
            <li>
                <a href="#contact">Contactame</a>
            </li>
            <button mat-icon-button matTooltip="Toggle theme" mat-theme-toggle>
                <mat-icon>invert_colors</mat-icon>
            </button>
        </nav>
        <div class="hero-container">
            <div class="hero-texts">
                <h1 class="hero-title">
                    Hola!
                </h1>
                <h1 class="hero-title">
                    Soy Florencia Talavera
                </h1>
                <h1 class="hero-title">[Front-End Developer]</h1>
                <h2 class="hero-subtitle">
                    Transformando ideas a realidades
                </h2>
            </div>
        </div>
    </div>
</header>