<header class="hero">
    <div class="header-container">
        <nav class="navigation-menu">
            <li>
                <a href="#about-me">{{ 'navbarItems.0' | translate }}</a>
            </li>
            <li>
                <a href="#skills">{{ 'navbarItems.1' | translate }}</a>
            </li>
            <li>
                <a href="#projects">{{ 'navbarItems.2' | translate }}</a>
            </li>
            <li>
                <a href="#services">{{ 'navbarItems.3' | translate }}</a>
            </li>
            <li>
                <a href="#contact">{{ 'navbarItems.4' | translate }}</a>
            </li>
            <div class="language">
                <li>
                    <a href="#" (click)="changeLanguage('en')" ngxTranslate>
                        <img title="English" src="../../../assets/images/language/EN.png" alt="Bandera Inglaterra">
                    </a>
                </li>
                <li>
                    <a href="#" (click)="changeLanguage('es')" ngxTranslate>
                        <img title="Español" src="../../../assets/images/language/ES.png" alt="Bandera Espania">
                    </a>
                </li>
            </div>
        </nav>
        <div class="hero-container">
            <div class="hero-texts">
                <h1 class="hero-title">
                    {{ 'header.greeting' | translate }}
                </h1>
                <h1 class="hero-title">
                    {{ 'header.title' | translate }}
                </h1>
                <h1 class="hero-title">[Front-End Developer]</h1>
                <h2 class="hero-subtitle">
                    {{ 'header.phrase' | translate }}
                </h2>
            </div>
        </div>
    </div>
</header>