<div class="footer-content">
    <p className="copy">&copy; My Portfolio by Flor Talavera </p>
    <div class="icons-footer">
        <a href="https://www.linkedin.com/in/flor-talavera/" target="_blank">
            <img class="icon-image" src="../../../assets/images/linkedin.png" alt="linkedin-icon">
        </a>
        <a href="mailto:florii.talavera@gmail.com">
            <mat-icon aria-hidden="false" fontIcon="email"></mat-icon>
        </a>
        <a href="https://github.com/flortalavera" target="_blank">
            <img class="icon-image" src="../../../assets/images/github.png" alt="github-icon">
        </a>
    </div>
</div>