<div class="presentation-content">
    <div class="image-and-text">
        <div class="text-presentation">
            <p>{{ 'aboutMe' | translate }}</p>
        </div>
        <div class="personal-image">
            <img src="../../../assets/images/Flor.png">
        </div>
    </div>
    <div class="button">
        <a href="../../../assets/CV-Florencia-Talavera.pdf" download="CV-Flor-Talavera">
          <button mat-button  class="download-cv"> {{ 'buttons.cv' | translate }} </button>
        </a>
    </div>
</div>