<div class="presentation-content">
    <div class="personal-image">
        <img src="../../../assets/images/Flor.png">
    </div>
    <div class="text-presentation">
        <p>Soy muy responsable, honesta, respetuosa y organizada. Tengo una excelente comunicación interpersonal,
            sé transmitir mis ideas con claridad y ejecutarlas de manera adecuada.
            Soy capaz de desarrollar varias tareas a la vez de forma eficaz, así como también contabilizar los
            proyectos
            bajo estimación de plazos.
            Me encanta cooperar en equipo, pero también poseo una mentalidad enfocada a desarrollar
            el trabajo de forma autónoma.
            Busco desarrollar mis habilidades en profundidad dentro del campo de la Programación.</p>
    </div>
    <div class="button">
        <a href="../../../assets/CV-Florencia-Talavera.pdf" download="CV-Flor-Talavera">
          <button mat-button  class="download-cv">Descargar CV</button>
        </a>
    </div>
</div>