<div class="presentation-content">
    <div class="image-and-text">
        <div class="text-presentation">
            <p>{{ 'aboutMe' | translate }}</p>
        </div>
        <div class="personal-image">
            <img src="../../../assets/images/Flor.png">
        </div>
    </div>
    <div class="button">
        <a *ngIf="languageSelected == 'es'" download="CV-Flor-Talavera.pdf" href="../../../assets/CV-Florencia-Talavera.pdf">
          <button mat-button  class="download-cv"> {{ 'buttons.cv' | translate }} </button>
        </a>
        <a *ngIf="languageSelected == 'en'" download="CV-Flor-Talavera.pdf" href="../../../assets/Resume-Flor-Talavera.pdf">
            <button mat-button  class="download-cv"> {{ 'buttons.cv' | translate }} </button>
        </a>
    </div>
</div>