@use '../design-system/reset';
@use '../design-system/variables';

body{
    height: max-content;

    .theme{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    
        a{
            width: 5%;
            cursor: pointer;
    
            img{
                width: 50%;
                position: relative;
                z-index: 1;
            }
        }
    }
    
    .sections{
        margin: 0 2rem;
    }

}

body.dark {
    background-color: map-get(variables.$colors, "dark");
    color: #ffffff;

}